* {
 margin: 0;
 padding: 0;
}

$primary-color: #057A6F;
$secondary-color: #1D8BC2;

@mixin fancy-text {
  font-family: fantasy;
  font-style: italic; 
}

@mixin borders {
 margin: 10px;
 padding: 10px
}

@mixin shadow {
 border-radius: 60px;
 box-shadow: 3px 3px 3px #ADB2B3;
}

h1 {
 @include fancy-text();
 color: $primary-color;
 font-size: 50px;
 display: flex;
 justify-content: center;
 @include borders();
}

h3 {
 @include fancy-text();
 color: $secondary-color;
 @include borders();
 
}

img {
 display: block;
 margin: 5px auto;
 @include shadow();
 width: 60%;
 height: 25%;
 background-color: #83E1E6;
}
 
p {
 color: $secondary-color;
 @include borders()
}

.box {
 background-color: #A16FB0;
 padding: 100px;
 margin: 100px;
 background-position: cover;
 @include shadow();
}

.container {
 padding: 15px;
 width: 90%;
 margin: 0 auto;
 font-size: 16px;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-content: center;
}

header {
 background-color: #167E80;
 height: 55px;
 color: $secondary-color;
 @include shadow(); 
 display: flex;
 align-items: center;
 
 }
 
button {
 color: $secondary-color;
 margin: 20px;

}


a:hover {
 @include shadow();
 
}

a {
 margin: 20px;
}

footer {
 @include borders();
 color: $primary-color;
}
