* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: fantasy;
  font-style: italic;
  color: #057A6F;
  font-size: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  padding: 10px;
}

h2 {
  font-family: fantasy;
  font-style: italic;
  color: #1D8BC2;
  margin: 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 70px;
}

img {
  display: block;
  margin: 5px auto;
  border-radius: 60px;
  -webkit-box-shadow: 3px 3px 3px #8BCCC5;
          box-shadow: 3px 3px 3px #8BCCC5;
  width: 60%;
  height: 25%;
  background-color: #83E1E6;
}

p {
  color: #1D8BC2;
  font-size: 50px;
  margin: 10px;
  padding: 10px;
}

.box {
  background-color: #6CB8B6;
  padding: 10%;
  margin: 10%;
  font-size: 50px;
  background-position: cover;
  border-radius: 60px;
  -webkit-box-shadow: 3px 3px 3px #8BCCC5;
          box-shadow: 3px 3px 3px #8BCCC5;
}

.container {
  padding: 15px;
  height: 80px;
  width: 90%;
  margin: 0 auto;
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

header {
  background-color: #167E80;
  height: 55px;
  color: #1D8BC2;
  border-radius: 60px;
  -webkit-box-shadow: 3px 3px 3px #8BCCC5;
          box-shadow: 3px 3px 3px #8BCCC5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  color: #1D8BC2;
  font-size: 30px;
  margin: 20px;
}

a:hover {
  border-radius: 60px;
  -webkit-box-shadow: 3px 3px 3px #8BCCC5;
          box-shadow: 3px 3px 3px #8BCCC5;
}

a {
  margin: 20px;
  font-size: 40px;
}

.lnk {
  height: 200px;
}

footer {
  margin: 10px;
  padding: 10px;
  color: #057A6F;
}

.icon {
  height: 30%;
  width: 30%;
}

.icon2 {
  height: 20%;
  width: 20%;
}

.blog4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #A1D498;
  height: 25%;
}

.blog2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #A1D498;
  height: 25%;
}

section {
  height: 25%;
  width: 100%;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article {
  width: 90;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=styles.css.map */