* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: fantasy;
  font-style: italic;
  color: #9c4713;
  font-size: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  padding: 10px;
}

h2 {
  font-family: fantasy;
  font-style: italic;
  color: #9c4713;
  margin: 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4em;
}

img {
  display: block;
  margin: 5px auto;
  border-radius: 60px;
  -webkit-box-shadow: 4px 4px 4px #8BCCC5;
          box-shadow: 4px 4px 4px #8BCCC5;
  width: 60%;
  height: auto;
  background-color: #83E1E6;
}

p {
  color: #0493AC;
  font-size: 2.5em;
  font-family: sans;
  margin: 10px;
  padding: 10px;
}

.box {
  background-color: #a6edcb;
  padding: 10%;
  margin: 5%;
  font-size: 2.5em;
  font-family: sans;
  color: #0493AC;
  background-position: cover;
  border-radius: 60px;
  -webkit-box-shadow: 4px 4px 4px #8BCCC5;
          box-shadow: 4px 4px 4px #8BCCC5;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

header {
  background-color: #468F8B;
  color: #0493AC;
  border-radius: 60px;
  -webkit-box-shadow: 4px 4px 4px #8BCCC5;
          box-shadow: 4px 4px 4px #8BCCC5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  color: #0493AC;
  font-size: 1em;
  margin: 20px;
}

a:hover {
  border-radius: 60px;
  -webkit-box-shadow: 4px 4px 4px #8BCCC5;
          box-shadow: 4px 4px 4px #8BCCC5;
}

a {
  margin: 20px;
  font-size: 2em;
  color: #1a1817;
}

.lnk {
  height: 200px;
}

footer {
  margin: 10px;
  padding: 10px;
  color: #9c4713;
}

.icon {
  height: 30%;
  width: 30%;
}

.icon2 {
  height: 20%;
  width: 20%;
}

.about-icon img {
  width: 160px;
  height: 160px;
}

.blog4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #a6edcb;
  height: 25%;
}

.blog2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #a6edcb;
  height: 25%;
}

section {
  height: 25%;
  width: 100%;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-field {
  width: 150%;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article {
  width: 20;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=styles.css.map */