

$primary-color: green;
$secondary-color: rgb(9, 115, 185);

@mixin fancy-text {
  font-family: fantasy;
  font-style: italic; 
}

h1 {
 @include fancy-text();
 color: $primary-color;
 font-size: 50px;
 display: flex;
 justify-content: center;
}
h3 {
 @include fancy-text();
 color: $secondary-color;
 @include fancy-text();
}
 
p {
 color: $secondary-color;
}

.box {
 background-image: url(../images/hunt-han-4QdIiHPLnfI-unsplash.jpg);
 padding: 100px;
 margin: 100px;
 background-position: cover;
}
.container {
 padding: 15px;
 width: 90%;
 margin: 0 auto;
 font-size: 16px;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-content: center;
 
}

header {
 background-color: teal;
 height: 50px;
 color: $secondary-color;
}

button {
 color: $secondary-color;
}

body {
 background-image: url("images/leaves.png");
}